.navbar{
	box-shadow: 0px 1px 2px #00000016;
	background-color: #fff;
	height: 80px;
	padding: 0rem 1rem;
}
.navbar .container, 
.navbar-nav,
.nav-item, 
.navbar-collapse,
.nav-link{
	height: 100%;
}
.nav-link{
	justify-content: center;
	/*line-height: 80px;*/
	-ms-align-items: center;
	align-items: center;
}
.img-avatar{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 3px solid #fff;
}
.nav-link.active{
	border-bottom: 4px solid #2ECC71;
}
.pointer{
	cursor: pointer;
}
.dropdown-toggle::after{
	display: none;
}
